<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:App/etc/routes.xsd">
    <router id="standard">
        <route id="bf_question" frontName="bf_question">
            <module name="Boolfly_ProductQuestion" />
        </route>
    </router>
</config>